.navbar {
  width: 98%;
  height: 80px;
  background: #0f110f;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* LOGIN BUTTON */
.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* HAMBURGER – 3 Lines */
.hamburger {
  width: 35px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 4px;
  background: white;   /* FIXED — visible now */
  border-radius: 4px;
}
